.commerical{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./commerical.gif)
}
.commericalHover {
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./commericalHover.gif)
}

.compulsory{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./compulsory.gif)
}
.compulsoryHover {
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./compulsoryHover.gif)
}



.policyQuery{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./policyQuery.gif)
}
.policyQueryHover {
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./policyQueryHover.gif)
}
.premiumCalculation{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./premiumCalculation.gif)
}
.premiumCalculationHover {
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./premiumCalculationHover.gif)
}
.check{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./check.gif)
}
.checkHover{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./checkHover.gif)
}




.request{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./request.gif)
}
.requestHover{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./requestHover.gif)
}
.response{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./response.gif)
}
.responseHover{
	width: 380px;
	height: 80px;
	padding: 1 1 1 1;
	margin: 0 0 0 0;
	background-image: url(./responseHover.gif)
}



